* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: calc(14px + 0.3vw);
}
body {
  background-color: #f2f2f2;
}
#hero-section {
  background: url(https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped)
    center/cover no-repeat fixed;
  height: 100dvh;
}
#hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.288);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  color: white;
  padding: 20px 10%;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-logo {
  font-size: 2rem;

}
.logo-text:hover{
  color: #e2dddd;
}
.nav-bar ul {
  list-style: none;
  display: flex;

  justify-content: center;
}
.nav-bar ul li {
  padding: 0 15px;
  text-align: center;
}
 a{
  text-decoration: none;
  cursor: pointer;
  color: white;
   
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  top: 30%;
  color: white;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 4rem;
  padding-bottom: 20px;
}
h2 {
  font-size: 2rem;
}
.hero-content p {
  font-size: 1.5rem;
  width: 60%;
  font-weight: 200;
}
button {
  margin-top: 20px;
  padding: 20px 45px;
  border-style: none;
  border-radius: 8px;
  font-size: 1rem;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.29);
  color: white;
  border: 2px solid white;
}
.service-title {
  text-align: center;
}
#service-section {
  padding: 100px;
}
.service-title {
  margin-bottom: 100px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;

  gap: 30px;
  width: 100%;
  padding: 0% 150px;
  margin: 0 auto;
}
.cards div {
  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.9, 0.9);
  border-radius: 10px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
  padding: 20px;
  background-color: white;

}
.cards div:hover {
  transform: translate3d(0px, 0px, -250px);
}
.cards div h5 {
  font-size: 1.2rem;
}
.cards div p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #5c5a5a;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin: 10px 0;
}
/* about section */

.about-title {
  text-align: center;
}
.about-content,
#contact-section {
  padding: 50px 150px;
}
.about-content p {
  padding: 15px 0 30px;
  font-size: 0.9rem;
  color: rgba(34, 33, 33, 0.847);
  font-weight: 400;
}
.about-content h5 {
  font-size: 1.2rem;
}

.about-content ul {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 0.9rem;
  color: rgba(34, 33, 33, 0.847);
  font-weight: 400;
}
.about-content ul li {
  padding: 5px 0;
}

/* contact-us section */

.contact-title {
  text-align: center;
}
.contact-content {
  padding: 50px 0;
  color: #0e0e0e9e;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.text-content {
  span {
    padding: 10px 0;
    font-size: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form * {
  margin: 10px 0;
  padding: 10px;
}
input,textarea{
    outline: none;
}

button[type="submit"] {
  background-color: black;
  color: #f2f2f2;
  width: 150px;
  border-radius: 4px;
  border: 2px solid white;
  &:hover {
    background-color: #333333;
    cursor: pointer;
  }
}

/* media query */

@media (max-width: 800px) {
  #service-section,
  .about-section,
  .about-content,
  #contact-section,.contact-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-content p {
    width: 100%;
  }
  .contact-content{
  align-items: unset;
  display: flex;
  flex-direction: column;
  justify-content: start;


  }
  .hero-content h1 {
    font-size: calc(1.5rem + 1vw);
  }

  .contact-title,.text-content{
    margin-bottom: 20px;
  }

  
}
